<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!-- Standalone List Collection -->
    <util:list list-class="java.util.LinkedList" id="allNames">
    	<value>Niraj Thagunna</value>
    	<value>Madan Thagunna</value>
    	<value>Aarjit</value>
    </util:list>
    
    <!-- Standalone Map Collection -->
    <util:map map-class="java.util.TreeMap" id="feeStructure">
    	<entry key="Java" value="5000"/>
    	<entry key="DS" value="3000"/>
    	<entry key="Algorithms" value="100000"/>
    </util:map>
    
    <!-- Standalone Properties Collection -->
    <util:properties id="allProperty">
    	<prop key="Driver">com.nirajThagunna</prop>
    	<prop key="username">nirajthagunna</prop>
    	<prop key="password">Niraj123</prop>
    </util:properties>
    
    <bean id="student" class="com.niraj.SpringCoreStandaloneCollections.Student">
    	<property name="names" ref="allNames"/>
    	<property name="fees" ref="feeStructure"/>
    	<property name="properties" ref="allProperty"/>
    </bean>
    
</beans>