<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="type1" class="com.niraj.Types">
		<constructor-arg value="1" type="int"></constructor-arg>
		<constructor-arg value="Bullet"></constructor-arg>
		<constructor-arg value="Yamaha"></constructor-arg>
	</bean>
	
	<bean id="type2" class="com.niraj.Types">
		<constructor-arg value="2" type="int"></constructor-arg>
		<constructor-arg value="KTM Duke"></constructor-arg>
		<constructor-arg value="Nepal"></constructor-arg>
	</bean>
	
	<bean id="vehicle" class="com.niraj.Vehicle">
		<constructor-arg value="101" type="int"></constructor-arg>
		<constructor-arg value="Lumbergini"></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="type1"/>
				<ref bean="type2"/>
			</list>
		</constructor-arg>
	</bean>

</beans>